:root {
  --color-back: #f2f2f2;
  --color-txt: #ffffff;
  --color-footer-back: #4a4e37;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: auto;
}
.icon {
  width: 25px;
  margin: 0 auto;
}
body {
  height: 100vh;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  background: var(--color-back);
  color: var(--color-txt);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* .......................................... */

h2 {
  margin: 30px auto;
  font-size: 2.3rem;
  line-height: 150%;
  letter-spacing: 0.18rem;
  color: var(--color-r-title);
}

.dummy {
  width: 600px;
  margin: 100px auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 2rem;
  line-height: 150%;
  text-align: center;
  color: #1d5f23;
}
