.modal-overlay {
  background: rgba(97, 97, 97, 0.6);
  position: fixed;
  inset: 0;
  box-shadow: 4px 4px 8px #e7e7e7, -8px -8px 16px #ffffff;
}

.modal {
  background: white;
  padding: 30px;
  max-width: 50%;
  margin: 50px auto;
  position: relative;
  font-family: Montserrat, sans-serif;
  border-radius: 6px;
  color: var(--color-footer-back);
}

.detailed-card_content {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.detailed-card_images,
.detailed-card_text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.detailed-card_images {
  max-width: 80%;
}

.detailed-card_text {
  max-width: 70%;
}

.detailed-card_img,
.slider-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.detailed-card_name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.detailed-card_description {
  font-size: 0.9rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.detailed-card_price {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: 1rem;
}

.detailed-card_btn {
  font-family: Montserrat, sans-serif;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px 8px #e7e7e7, -8px -8px 16px #ffffff;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  align-self: center;
}

.detailed-card_btn:hover {
  box-shadow: 2px 2px 2px #4a4e374b, -8px -8px 16px #ffffff;
}

.detailed-card__slider {
  width: 50%;
}

.slick-slide>div,
.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom-modal {
  background: white;
  padding: 30px;
  max-width: 35%;
  margin: auto;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.zoom-slider-wrapper {
  width: 100%;
}

.zoom-img {
  height: auto;
  border-radius: 8px;
  cursor: grab;
  padding: 20px;
}