.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 37px;
}
@media (max-width: 1024px) {
  .menu {
    gap: 25px;
  }
}
@media (max-width: 950px) {
  .menu {
    gap: 20px;
  }
}
@media (max-width: 850px) {
  .menu {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .menu {
    width: 100%;
    height: calc(100vh + 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    /* color: var(--color-txt); */
    background-color: var(--color-txt);
    /* background-image: url(./assets/bg.jpg); */
    background-position: center 0;
    background-repeat: repeat, no-repeat;
    background-size: cover;
    position: absolute;
    top: -30px;
    left: -768px;
    z-index: 3;
    transition: left 1s ease-in-out;
  }
}
.menu__item {
  text-transform: capitalize;
}
.menu__item a {
  color: var(--color-txt);
  opacity: 0.5;
  transition: opacity ease-in-out 0.3s;
}
.menu__item a:hover,
.menu__item a:active {
  opacity: 1;
}

.active a {
  opacity: 1;
}
.menu__link {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.menu__link.active {
  opacity: 1;
}
.open {
  left: 0;
}
