.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 37px;
}
.menu__item {
  text-transform: capitalize;
}
.menu__item a {
  color: var(--color-txt);
  opacity: 50%;
  transition: opacity ease-in-out 0.3s;
}
.menu__item a:hover,
.menu__item a:active {
  opacity: 100%;
}

.active a {
  opacity: 100%;
}
.menu__link {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.menu__link.active {
  opacity: 1;
}
