.heroSection {
  width: 100%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  padding: 30px;
}
.heroSection__title {
  max-width: 751px;
  font-family: "Rosarivo";
  font-size: 45px;
  font-weight: normal;
  line-height: 110%;
}
@media (max-width: 1024px) {
  .heroSection__title {
    font-size: 35px;
  }
}

@media (max-width: 850px) {
  .heroSection__title {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .heroSection__title {
    font-size: 25px;
  }
}
