.footer {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--color-footer-back);
  font-size: 2rem;
}

.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 120px;
}
@media (max-width: 1024px) {
  .footer__wrapper {
    padding: 29px 100px;
  }
  .footer__logo {
    font-size: 25px;
  }
}
@media (max-width: 950px) {
  .footer__wrapper {
    padding: 29px 70px;
  }
}
@media (max-width: 850px) {
  .footer__wrapper {
    padding: 29px 50px;
  }
}
@media (max-width: 600px) {
  .footer__wrapper {
    padding: 29px 30px;
  }
}
@media (max-width: 500px) {
  .footer__wrapper {
    padding: 29px 20px;
  }
}
@media (max-width: 400px) {
  .footer__wrapper {
    padding: 29px 15px;
  }
}

.footer__txt {
  text-align: left;
}

.footer__logo {
  width: 100px;
}
