:root {
  --color-footer-back: #4a4e37;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* font-size: 18px;
    padding: 29px 120px; */
  background-color: var(--color-footer-back);
  padding: 30px;
}
.footer__logo {
  width: 100px;
}
