.profile__main {
  min-height: 80vh;
  padding: 50px 10px;
}
.profile {
  font-family: Montserrat;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px 10px 60px;
  background: var(--color-r-back);
  /* background-image: url(../../../public/img/back.png); */
  background-position: center;
  background-size: cover;
  color: var(--color-r-txt);
}
.profile__div {
  background-color: transparent;
  padding: 30px;
  border-bottom: 1px solid var(--color-footer-back);
}

.profile__section-title h3 {
  font-size: 2rem;
  margin: 20px auto;
}

/* .submenu__profile:hover {
  outline-color: #ffffff;
} */

.profile__info {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  /* padding: 10px; */
  margin: 10px;
  font-size: 1.2rem;
  text-align: left;
  /* color: #222223; */
}

.profile__section {
  max-width: 70%;
  margin: 5px auto 30px;
  /* padding: 10px 0; */
}

.profile__info_txt {
  margin: 0 10px;
}

.profile__info input[name="password"] {
  position: relative;
}

.profile__info input,
.profile__info select {
  /* width: 100%; */
  padding: 5px;
  font-size: 1.2rem;
  line-height: 150%;
  color: var(--color-r-txt);
  border: 1px solid var(--color-r-border);
  text-align: left;
}

.password-view-profile {
  position: absolute;
  top: 12px;
  right: 140px;
  display: inline-block;
  width: 20px;
  height: 20px;
  /* background: url(svg/view.svg) 0 0 no-repeat; */
  z-index: 5;
  border: 1px solid transparent;
}

/* .password-view.profile{
  top: 12px;
  right: 140px;
} */

.profile__submit-btn {
  width: 40%;
  font-size: 1.5rem;
  /*margin: 20px;
  padding: 10px 20px;
  color: var(--color-btn-txt);
  background-color: var(--color-btn-back); */
  transition: all 0.5s ease-in;
}
/* .profile__submit-btn:hover {
  background-color: var(--color-btn-back-hover);
  cursor: pointer;
} */

.profile__inactive-txt {
  margin: 80px auto;
  font-size: 2rem;
  color: var(--color-txt-err);
}

.profile__message,
.profile__message-password {
  min-height: 30px;
  color: var(--color-txt-alt);
  font-size: 1.7rem;
}
