:root {
  --color-back: #d1edcc;
  --color-txt: #ffffff;
  --color-title: #c66590;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: auto;
}
.icon {
  width: 25px;
  margin: 0 auto;
}
body {
  
  height: 100vh;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  background: var(--color-back);
  color: var(--color-txt);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

a{
  text-decoration: none;
}
li{
  list-style-type: none;
}